.input-text {
    
 
  width: 400px;
    
  }

  .input-password {
    width: 400px;

  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  }


  .button-style {
    position: relative;
    right: 3em;
  }

  .label {
    position: relative;
    right: 10.8em;
    
  }



  