.input-text {
    
 
  width: 400px;
    
  }

  .input-password {
    width: 400px;

  }

  .form-style {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 20px;
    width: 35%;
    background-color: pink;
    
    justify-content: center;
  }

  .form-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


  .button-style {
    position: relative;
    
  }

  .label {
    color: white;
    font-weight: bold;
  }



  