.lista-style {
    position: relative;
    left: 35em;
    width: 20em;
    font-weight: bold;
    margin-top: 20px;
    
}

.lista-item {
    border: 2px solid black;
}

.titulo-outraLista {
    color: white;
 
    width: 500px;
}